API_ID=23132181
API_HASH=a2ae0cccc6c392c9789097566ad2bfe8
BOT_TOKEN=
8476651997:AAF2MJ4jF95dNtIU8lGu4j0yEciLGuePfm8
MONGO_DB_URI=mongodb+srv://zen:zen@zen.wkt9iq8.mongodb.net/?retryWrites=true&w=majority&appName=zen
LOGGER_ID=-1002558009313
OWNER_ID=2016891453
STRING_SESSION=BQFg-BUAGpTUm2cQlAONQxp9BwskamYnt-N6-N0FAaEHOeYO3wP1WYsm-MDmg9Xpce2X0VviuHLvxHIN4Kx_6qYaXnojN3NKR13bpiIhCtelm3TwHIVHaq3EbamC5RLxqRpAhOVmDLzE6yfmLdz2DZdvPGdGK1fQe4cRHxq9zFPJ2o2mZBTeLbemtykT3YuxB59g8S8J5LmY5t2LfUm5lCbAunjYyqYABVEOYJlSWnjsG7Z9r3oG_yANGmafPa-IsxnWM2ZtD7oewH2OUNtjudD-Jx_2yaTUvzxqcET5i-xnQpvT0WxNxJRo2aOdFyPQeaNAQQqxzMdOhVKOWo_1iYOeLCZNCAAAAAF8yeLXAA
